# Python
backend/venv/
**/__pycache__/
**/*.pyc
backend/*.pyc
backend/.env

# Frontend
frontend/node_modules/
frontend/.env
frontend/dist/

# Local env files
.env
.env.*
!.env.example

Implementation_plan.md